# Lists

#### The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [1]:
mylist = ["apple", "banana", "pineapple"]
mylist2 = ["orange, kiwi"]

print(mylist)
print(mylist2)

['apple', 'banana', 'pineapple']
['orange, kiwi']

### Add and remove from list

In [49]:
mylist.insert(0, "orange") # Tager 2 parametre index og det der skal tilføjes
mylist.append("mango") # Tilføj til sidst i listen
mylist.remove("banana") # Sletter fra list med value
mylist.pop(0) # Sletter efter index
mylist.extend(mylist2) # Tilføjer list til list til sidst

print(mylist)

['apple', 'pineapple', 'mango', 'orange, kiwi']

# Tuples

#### Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [50]:
mytuple = ("thomas", "abdu", "henrik")

print(len(mytuple))

3

#### Tuples allow duplicate value

In [51]:
mytuple = ("thomas", "thomas", "abdu", "henrik")

print(mytuple)

('thomas', 'thomas', 'abdu', 'henrik')

### Konverter til list for at manipulere med data

In [52]:
y = list(mytuple)
y[1] = "kiwi"
x = tuple(y)
print(x)

('thomas', 'kiwi', 'abdu', 'henrik')

### Join 2 tuples

In [53]:
mytuple2 = ("pernille" , "heriette", "maja")
mytuple3 = mytuple + mytuple2

print(mytuple3)

('thomas', 'thomas', 'abdu', 'henrik', 'pernille', 'heriette', 'maja')

# Sets

#### Set items are unordered, unchangeable, and do not allow duplicate values. 
#### Set items are unchangeable, but you can remove items and add new items.

In [54]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

### Add and remove items from set

In [55]:
thisset.add("pineapple") # Add to set
thisset.remove("apple") # Remove from set

print(thisset)

{'banana', 'pineapple', 'cherry'}

### Check if pineapple is present in set

In [56]:
print(thisset)
print("pineapple" in thisset)

{'banana', 'pineapple', 'cherry'}
True

# Dictionaries

#### Dictionaries are used to store data values in key:value pairs.
####  A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
#### Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [57]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

print(thisdict["brand"]) # Vi bruger key til at finde frem til value
print(thisdict.keys()) # Bruger vi til at få alle vores keys printet ud

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
Ford
dict_keys(['brand', 'electric', 'year', 'colors'])

### Add, remove and update from Dictionary

In [42]:
thisdict["SUV"] = True # Add key and value to dict
thisdict.pop("brand") # Remove from dict using key
thisdict.popitem() # Removes last item from dict
print(thisdict)

{'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

### Using list with objects

In [3]:
class geeks: 
    def __init__(self, name, roll): 
        self.name = name 
        self.roll = roll

In [4]:
# creating list       
list = [] 
  
# appending instances to list 
list.append( geeks('Akash', 2) )
list.append( geeks('Deependra', 40) )
list.append( geeks('Reaper', 44) )

In [5]:
for obj in list:
    print( obj.name, obj.roll, sep =' ' )

Akash 2
Deependra 40
Reaper 44

In [6]:
print(len(list))

3